{% extends 'layout.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <section>
        <img 
            class="banner"
            src="{{ post.banner.url }}" 
            alt="{{ post.title }}"
        />
        <h1>{{ post.title }}</h1>
        <p>{{ post.date }}</p>
        <p>{{ post.body }}</p>
    </section>
    <!-- Edit button -->
    <a href="{% url 'posts:edit-post' pk=post.pk %}">
        <span role="img" aria-label="Edit" title="Edit">✏️</span>
    </a> 
    <!-- Deleted button -->
    <a href="{% url 'posts:delete-post' slug=post.slug %}">
        <span role="img" aria-label="Delete" title="Delete">🚮</span>
    </a> 
{% endblock %}
